/* 
    -- COULEURS DE REFERENCE --
    background des boutons: #ead9ce;
    texte principal et bordures : #31353a (gris foncé);
    defaite: rgb(183, 43, 43) (rouge);
    victoire: rgb(43, 119, 20) (vert);
*/
@font-face {
    font-family: "libreFranklin";
    src: url("../fonts/librefranklin-regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "libreFranklin";
    src: url("../fonts/librefranklin-bold.ttf") format("truetype");
    font-weight: bold;
}
/* -- RESET -- */
html, body, div, form, input, fieldset, a, main, img, h1
{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-size: 100%;
    font-family: libreFranklin;
    color: #31353a;
    background-color: #f6f7f0;
}
#jeuDuPendu
{
    margin: 0 auto;
    padding: 2rem;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
}
#jeuDuPendu h1
{
    margin-bottom: 1rem;
    width: 100%;
}
/* -- LETTRES DECOUVERTES -- */
#jeuDuPendu .lettresDecouvertes
{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}
#jeuDuPendu .lettresDecouvertes b.defaite
{
    color: rgb(183, 43, 43);
}
/* -- LETTRES PROPOSEES -- */
#jeuDuPendu form fieldset
{
    margin-bottom: 1rem;
    border: 2px solid #31353a;
    border-radius: 0.5rem;
    padding: 0.5rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 565px;
}
#jeuDuPendu form fieldset > div b
{
    padding: 0.5rem;
    border: 2px solid #31353a;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    color: #f6f7f0;
    font-weight: bold;
    text-transform: uppercase;
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -5deg);
}
#jeuDuPendu form input[name="lettre"]
{
    margin: 0.2rem;
    border: 2px solid #31353a;
    border-radius: 0.5rem;
    width: 48px;
    height: 48px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #ead9ce;
}
#jeuDuPendu form input[name="lettre"]:disabled
{
    opacity: 0.3;
}
/* -- BOUTON NOUVELLE PARTIE -- */
#jeuDuPendu form input[name="nouvellePartie"]
{
    border: 2px solid #31353a;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #ead9ce;
}
/* -- COMMUN AUX LETTRES DISPONIBLES ET AU BOUTON NOUVELLE PARTIE -- */
#jeuDuPendu form input[type="submit"]
{
    transition: color 0.3s, background-color 0.2s;
}
#jeuDuPendu form input[type="submit"]:hover:not([disabled])
{
    cursor: pointer;
    color: #f6f7f0;
    background-color: #31353a;
}
/* -- STATUT DE FIN DE PARTIE -- */
#jeuDuPendu form fieldset > div b.defaite
{
    background-color: rgb(183, 43, 43);
}
#jeuDuPendu form fieldset > div b.victoire
{
    background-color: rgb(43, 119, 20);
}
/* -- VIES RESTANTES -- */
#jeuDuPendu .vies-container
{
    margin-left: auto;
    position: relative;
    max-width: 240px;
}
#jeuDuPendu .vies-container img
{
    width: 100%;
    height: auto;
}
#jeuDuPendu .vies-container > div
{
    position: absolute;
    top: 1.1em;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #f6f7f0;
    background-image: url("../images/coeur.png");
}
/* -- LIENS -- */
#jeuDuPendu a
{
    margin-top: 2rem;
    margin-left: auto;
    color: #31353a;
    /* permet de mettre les images en cache dès le premier chargement de la page */
    background-image: url("../images/le-jeu-du-pendu-etape-1.png"), url("../images/le-jeu-du-pendu-etape-2.png"), url("../images/le-jeu-du-pendu-etape-3.png"), url("../images/le-jeu-du-pendu-etape-4.png"), url("../images/le-jeu-du-pendu-etape-5.png"), url("../images/le-jeu-du-pendu-etape-6.png");
    background-size: 0;
}
@media (max-width: 880px)
{
    #jeuDuPendu
    {
        padding: 0.5rem;
        flex-direction: column;
        align-items: center;
    }
    #jeuDuPendu h1
    {
        order: 1;
        text-align: center;
    }
    #jeuDuPendu .vies-container
    {
        order: 2;
        margin-left: 0;
    }
    #jeuDuPendu .lettres-container
    {
        order: 3;
    }
    #jeuDuPendu .lettresDecouvertes
    {
        margin-top: 1rem;
        text-align: center;
    }
    #jeuDuPendu form input[name="lettre"]
    {
        width: 45px;
        height: 45px;
    }
    #jeuDuPendu form input[name="nouvellePartie"]
    {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #jeuDuPendu a
    {
        order: 4;
        margin-right: auto;
    }
}