*
{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-size: 100%;
}
/* 
    couleur police interactive: #64350d;
    couleur principale (gris foncé): #31353a;
*/
@font-face {
    font-family: montserrat;
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "tinos";
    src: url("../fonts/Tinos-Regular.ttf") format("truetype");
    font-weight: normal;
}
body
{
    background-color: #f6f7f0;
}
#jeuDuPendu
{
    padding: 2em;
    font-family: montserrat;
    color: #31353a;
    background-color: #f6f7f0;
}
#jeuDuPendu > div
{
    margin: 0 auto;
    position: relative;
    max-width: 580px;
    display: flex;
    flex-direction: column;
}
#jeuDuPendu h1
{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: normal;
}
#jeuDuPendu dl
{
    margin-bottom: 2rem;
    font-size: 1.1rem;
}
#jeuDuPendu dl > div
{
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
#jeuDuPendu dt
{
    min-width: 150px;
    max-width: 150px;
    font-family: tinos;
}
#jeuDuPendu dt::first-letter
{
    font-size: 1.5em;
}
#jeuDuPendu dd
{
    margin-left: 0.5rem;
}
#jeuDuPendu img
{
    position: absolute;
    right: 0;
    top: 2rem;
    max-width: 130px;
    height: auto;
}
#jeuDuPendu fieldset
{
    border: solid 2px #31353a;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    font-family: tinos;
}
#jeuDuPendu fieldset legend
{
    margin-left: 1rem;
    padding: 0 0.5rem;
    max-width: 10rem; /* fix un étrange bug sous firefox qui ajoute une sorte de padding-right lorsque l'on propose une lettre !?! */
    font-size: 1.1rem;
}
#jeuDuPendu fieldset legend::first-letter
{
    font-size: 1.5em;
}
#jeuDuPendu input[type="submit"]
{
    color: #64350d;
    background-color: #64350d10;
}
#jeuDuPendu input[type="submit"]
{
    border: 1px solid #64350d;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}
#jeuDuPendu input[type="submit"]:hover:not(:disabled)
{
    cursor: pointer;
    color: white;
    background-color: #64350d;
}
#jeuDuPendu input[name="lettre"]
{
    margin: 0.4rem;
    width: 42px;
    height: 42px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#jeuDuPendu input[name="lettre"]:disabled
{
    opacity: 0.2;
}
#jeuDuPendu .row
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
#jeuDuPendu input[name="nouvellePartie"]
{
    margin-top: 1rem;
    padding: 0.5em;
    font-size: 1.2rem;
}
#jeuDuPendu a
{
    font-size: 1em;
    color: #64350d;
}
.defaite
{
    color: rgb(143, 32, 32)
}
.victoire
{
    color: rgb(45, 143, 32)
}
@media (max-width: 450px)
{
    #jeuDuPendu
    {
        padding: 0.5rem;
    }
    #jeuDuPendu h1
    {
        order: 1;
        margin-bottom: 0.5rem;
        text-align: center;
        font-size: 1.3rem;
    }
    #jeuDuPendu img
    {
        order: 2;
        margin: 0 auto 0;
        position: static;
        display: block;
    }
    #jeuDuPendu dl
    {
        order: 3;
        margin-bottom: 0.5rem;
    }
    #jeuDuPendu dl > div
    {
        margin-bottom: 0;
    }
    #jeuDuPendu dt
    {
        font-size: 1rem;
    }
    #jeuDuPendu form
    {
        order: 4;
    }
    #jeuDuPendu .row
    {
        flex-direction: column;
        align-items: center;
    }
    #jeuDuPendu a
    {
        margin-top: 2rem;
    }
}